<html>
<head>
<title>About us Form</title>
    <link rel="stylesheet" href="style2.css"
</head>
<body>
<div class="wrapper">
    <h1>Our Team</h1>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img src="Mirsad.png" alt="Team_image">
        </div>
        <h3>Mirsad Al hossain</h3>
        <p class="role">CSE Engineer<br>
        East west University.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img src="talha.jpg" alt="Team_image">
        </div>
        <h3>Talha Zubaer Siddique Al-Quraishy</h3>
        <p class="role">CSE Engineer<br>
        East west University.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p></div>
      <div class="team_member">
        <div class="team_img">
          <img src="mahade1.jpg" alt="Team_image">
        </div>
        <h3>Mahade Ahmed</h3>
        <p class="role">CSE Engineer<br>
        East west University.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
      </div>
    </div>
  </div>
</body>
</html>