<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="style1.css">
    <link href="https://fonts.googleapis.com/css2?
    family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Connect With Us</h1>
        <p>We believe it's important to stay closely connected to our students and teachers and what better way than through social media!</p>
        <div class="contact-box">
            <div class="contact-left">
                <h3>Sent your request</h3>
            </br>
                <form>

                    <div class="input-row">
                        <div class="input-group">
                            <input type="text" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="Subject">
                        </div>
                    </div>
                    <textarea rows="5" placeholder="Your Messages"></textarea>
                    <button type="submit">Send</button>

                </form>
            </div>
            <div class="contact-right">
                <h3>Reach Us</h3>
                
                <table>
                    <tr>
                        <td>Email</td>
                        <td>abc@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>+8801262366363</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td> #412 Ground floor, 11th cross <br>
                        Mirpur-1219
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>





</body>
</html>